name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - "**"
  workflow_dispatch:

jobs:
  versions:
    uses: ./.github/workflows/version.yml

  lint:
    needs: versions
    uses: ./.github/workflows/lint.yml
    with:
      python-version: ${{ needs.versions.outputs.python-version }}
      node-version: ${{ needs.versions.outputs.node-version }}
      pnpm-version: ${{ needs.versions.outputs.pnpm-version }}
      app-port: ${{ needs.versions.outputs.app-port }}

  # unit-tests:
  #   uses: ./.github/workflows/unit-tests.yml
  #   needs:
  #     - versions
  #   with:
  #     PYTHON_VERSION: ${{ needs.versions.outputs.python-version }}

  all-jobs-passed:
    name: Check jobs status
    runs-on: ubuntu-24.04
    if: ${{ always() }}
    needs:
      - versions
      - lint
      # - unit-tests
    steps:
      - name: Check status of all required jobs
        run: |-
          NEEDS_CONTEXT='${{ toJson(needs) }}'
          JOB_IDS=$(echo "$NEEDS_CONTEXT" | jq -r 'keys[]')
          for JOB_ID in $JOB_IDS; do
            RESULT=$(echo "$NEEDS_CONTEXT" | jq -r ".[\"$JOB_ID\"].result")
            echo "$JOB_ID job result: $RESULT"
            if [[ $RESULT != "success" && $RESULT != "skipped" ]]; then
              echo "***"
              echo "Error: The $JOB_ID job did not pass."
              exit 1
            fi
          done
          echo "All jobs passed or were skipped."
